:root {
  --blue: #5656f3;
  --blue-primary: rgba(17, 17, 129, 0.817);
  --white: #ffffff;
  --red: rgba(255, 0, 0, 0.772);
  --gray: rgb(54, 54, 54);
}

.login-page {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    font-family: Arial, Helvetica, sans-serif;
  }
