.button-bordered {
    box-sizing: border-box;
  
    width: fit-content;
    margin: 8px 0;
    padding: 8px 16px;
  
    background: #ffffff;
    color: #5656f3;
    border-radius: 4px;
    border: 1px solid #5656f3;
    cursor: pointer;
    width: 100%;
  }

.button-bordered:hover {
  background-color: #5656f3;
  color: #fff;
  border: 1px solid #5656f3;
}