.button {
    box-sizing: border-box;
  
    width: fit-content;
    margin: 8px 0;
    padding: 8px 16px;
  
    background: var(--blue);
    color: var(--white);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    width: 100%;
  }

.button:hover {
  background-color: var(--white);
  color: #5656f3;
  border: 1px solid var(--blue);
}

.button-linked-primary {
  border: none;
  color: var(--blue);
  background-color: var(--white);
  font-size: medium;
  cursor: pointer;
}

.button-linked-primary:hover{
  transform: scale(1.1);
}

.button-linked-danger {
  border: none;
  color: var(--red);
  background-color: var(--white);
  font-size: medium;
  cursor: pointer;
}

.button-linked-danger:hover{
  transform: scale(1.1);
}
