.button-bordered {
    box-sizing: border-box;
  
    width: fit-content;
    margin: 8px 0;
    padding: 8px 16px;
  
    background: #ffffff;
    color: var(--blue);
    border-radius: 4px;
    border: 1px solid var(--blue);
    cursor: pointer;
    width: 100%;
  }

.button-bordered:hover {
  background-color: var(--blue);
  color: #fff;
  border: 1px solid var(--blue);
}
