<table class="table">
    
       
    <tr><td>Old password</td><td name="oldPassword">*******</td></tr>
    <tr><td>New password</td><td name="newPassword">*******</td></tr>
    <tr><td>Repeat new password</td><td>*******</td></tr>

    
</table>