<table class="table">
    
    <tr><td><form action="/src/pages/profile/profile-edit.html">{{>buttons/button-linked label="Edit profile"}}</form></td></tr>
    <tr><td><form action="/src/pages/profile/profile-password-change.html">{{>buttons/button-linked label="Change password"}}</form></td></tr>
    
    <tr><td><form action="/index.html">{{>buttons/button-linked-danger label="Log out"}}</form></td></tr>
    
</table>